@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="mainExternal">
    <h1>@ViewData["Title"]</h1>
    
    <hr />
    
    <p id="external-login-description" class="text-info">
        Вы успешно вошли через <strong>@Model.ProviderDisplayName</strong>.
        Пожалуйста введите ваш email для завершения регистрации. На данный email будут приходить свежие новости и промокоды.
    </p>
    

        
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    
                    <input asp-for="Input.Email" placeholder="Введите Ваш email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
